[Unit]
Description=Setup CSD and Ofono for dualsim variant
After=local-fs.target
Conflicts=rescue.target actdead.target factory-test.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/dualsim-detect.sh
